In [ ]:
import numpy as np

In [ ]:
dir(np)

# creating an array

In [ ]:
l = [1 , 2 , 3 , 4]
l  #first statment run without print

In [ ]:
arr = np.array(1)
print(arr)

In [ ]:
a = np.array([[1,2,3] , [4,5,6] , [7,8,9]])  ## convert in numpy array
a

In [ ]:
a2 = np.zeros(5) #float number give 5 time of zero
a2

In [ ]:
a3 = np.ones(5) # integer value 5 time of 1
a3

In [ ]:
a4 = np.eye(3) # identitity matrix it means cross me 1 vali value aayegi
a4

In [ ]:
ar1 = np.zeros((3,3)) # it gives 0 value of matrix
ar1

In [ ]:
ar2 = np.ones((3,3)) # it gives 1 value of matrix
ar2

In [ ]:
ar3 = np.arange(10) # range of 0 to 9 given
ar3

In [ ]:
ar4 = np.arange(1,11) # from 1 to 10 given
ar4

In [ ]:
ar5 = np.arange(1 , 11 , 2) # start , end and steps
ar5

In [ ]:
ar6 = np.linspace(1 , 10 , 5) # random number generated 1 to 10
ar6

In [ ]:
ar7 = np.full(5,3) # 5 bar 3 aayega
ar7

In [ ]:
ar8 = np.full((3,3) , 9) # 3 x 3 matrix of 3
ar8

In [ ]:
r1 = np.random.rand(3,3) #float value of random number 2d
r1

In [ ]:
r2 = np.random.rand(5) # float value of random number 1d 
r2

In [ ]:
r3 = np.random.randint(5) # interger value of random number
r3

In [ ]:
r4 = np.random.randint(3,10) # start , end
r4

In [ ]:
r5 = np.random.randint(3 , 10 , 2) # start , end and steps
r5

In [ ]:
r6 = np.random.randint(3 , 10  ,(3 , 3)) # 
r6

## Indexing of array

In [ ]:
ar = np.random.randint(1 ,10 ,(3,3))
ar

In [ ]:
print(ar[-1]) # raw wise indexing
print(ar[0])
print(ar[1])
print(ar[2])
print(ar)

In [ ]:
ar2 = np.random.randint(1,11 , (3 , 3))
ar2

In [ ]:
print(ar2)# row and colum wise indexing

In [ ]:
#print(ar2) 
print(ar2 [0][0]) # first is aadi row second is ubhi colum

In [ ]:
print(ar2 [0][1])

In [ ]:
print(ar2 [0][2])

In [ ]:
print(ar2 [1][0])

In [ ]:
print(ar2 [1][1])

In [ ]:
print(ar2 [1][2])

In [ ]:
print(ar2 [2][0])

In [ ]:
print(ar2 [2][1])

In [ ]:
print(ar2 [2][2])

## slicing on array

In [ ]:
a = np.arange(1,10) 
a

In [ ]:
a [0:3] # from index 0 to 3

In [ ]:
a [-1:5:-1] # first -1 is for start and 5 is for end step and last -1 is reverse step

In [ ]:
a [2:6] # from index 2 to 6

In [ ]:
a [0:] # from 0 index to end

In [ ]:
a [0::1] # from 0 to end in positive way

In [ ]:
a [0::2] # from 0 to end and 2 is step

In [ ]:
a [::2] # 0 to end in 2 step

In [ ]:
a [::-1] # in reverse 0 to end

## row and colum wise slicing

In [ ]:
a2 = np.random.randint(1,10, (3,3))
a2

In [ ]:
a2[0:2 , 1] # 0 row 1 colum

In [ ]:
a2 [0: , 1]

In [ ]:
a2 [ : , : ] #full

In [ ]:
a2 [0: , 1: ] #0 row , 1 colum

## shape ,size and Datatype of array

In [ ]:
a

In [ ]:
print(a.shape) # shape

In [ ]:
print(a.size) # number of element

In [ ]:
a2

In [ ]:
print(a2.shape)

In [ ]:
print(a.dtype) # for vactor

In [ ]:
print(a2.dtype) # for matrix

In [ ]:
a1 = np.array([16 , 81 , 64 , 121 , 9]) # root kadhe che
np.sqrt(a1)

In [ ]:
a1 = 10 , 20 , 30
a2 = 40 , 50 , 60

In [ ]:
a1 + a2